[Unit]
Description=Rikor mailer service
After=sysinit.target
# After=systemd-hostnamed.service

[Service]
Type=simple
ExecStart=/usr/bin/rikmail

[Install]
WantedBy=multi-user.target
